# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__/
*.py[cod]
db.sqlite3
v_env/
.venv/
env/

node_modules/
front/node_modules/

# Banco de dados
db.sqlite3

# Python/Ambiente Virtual
venv/
__pycache__/
*.py[cod]

# Build do React
front/dist/

.DS_Store